# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**
- List popular languages used in Data Science
- List commonly used libraries
- List development environment open source tools
- Know how to use simple airthmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. TensorFlow
3. Pandas
4. Matplotlib

| Data Science Tools |
|:-------------------:|
| VS Code |
| Git |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [1]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Annika